<div class="parallax-container min-vh-100">
    <video class="parallax-video" autoplay muted loop playsinline>
        <source src="./assets/videos/lock.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="d-flex align-items-center min-vh-100 video-blur">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-8 rounded p-4 aos" data-aos="fade-up" style="background-color: #10101060; border: 1px solid #FAFAFA80;">
                    <!-- Title -->
                    <div class="w-100 d-flex justify-content-center align-items-center mb-2">
                        <div class="d-none d-md-block" id="signup-lottie" style="width: 150px; height: 150px;"></div>
                        <div class="d-block d-md-none fs-1 text-white fw-bold"><%= component_text.t_pa_su_signup %></div>
                    </div>
                    <!-- Desc -->
                    <div class="text-white fw-bold mb-2 mx-3 fs-5"><%= component_text.t_pa_si_welcome %></div>
                    <!-- Alert Begin -->
                    <div class="alert alert-danger alert-dismissible fade show d-none" id="alert-message"></div>
                    <!-- Alert End -->
                    <!-- Form Begin -->
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <!-- First Name Input -->
                                <div class="form-focus mb-4" id="fname-container">
                                    <input type="text" name="first_name" id="first_name" class="form-control floating bg-transparent text-white" />
                                    <label class="focus-label" for="first_name"><%= component_text.placeholder_first_name %></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Last Name Input -->
                                <div class="form-focus mb-4" id="lname-container">
                                    <input type="text" name="last_name" id="last_name" class="form-control floating bg-transparent text-white" />
                                    <label class="focus-label" for="last_name"><%= component_text.placeholder_last_name %></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- Birthday Input -->
                                <div class="form-focus mb-4" id="dob-container">
                                    <input type="date" name="dob" id="signup-dob" class="form-control floating bg-transparent text-white" />
                                    <label class="focus-label" for="signup-dob"><%= component_text.placeholder_dob %></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Email input -->
                                <div class="form-focus mb-4" id="email-container">
                                    <input type="text" name="email" id="signup-email" class="form-control floating bg-transparent text-white" />
                                    <label class="focus-label" for="signup-email"><%= component_text.placeholder_email %></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Phone input -->
                                <div class="form-focus mb-4" id="phone-container">
                                    <input type="text" name="phone" id="signup-phone" class="form-control floating bg-transparent text-white" />
                                    <label class="focus-label" for="signup-phone"><%= component_text.placeholder_phone %></label>
                                </div>
                            </div>
                            <!-- Image Captcha -->
                            <div class="col-md-12 mb-4">
                                <div class="row justify-content-start align-items-center">
                                    <div class="col-md-6">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <div id="signup_captcha_image"><%- captcha_image %></div>
                                            <i id="captcha_change" class="fa fa-lg fa-rotate-right fs-2 text-danger cursor-pointer"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-focus" id="captcha-container">
                                            <input type="password" id="captcha" name="captcha" class="form-control floating bg-transparent text-white" />
                                            <label class="focus-label" for="contact_captcha"><%= component_text.placeholder_captcha %></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Opt In & Out -->
                            <div class="col-md-12 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="opt_status" id="home_opt_in" value="1" checked />
                                    <label class="form-check-label text-white" for="home_opt_in"> <%= component_text.t_opt_in_out_in %> </label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="opt_status" id="home_opt_out" value="0" />
                                    <label class="form-check-label text-white" for="home_opt_out"> <%= component_text.t_opt_in_out_out %> </label>
                                </div>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <button name="action" id="submit" class="btn btn-rounded btn-outline-info w-100 py-2"><%= component_text.btn_submit %></button>
                    </div>
                    <!-- Help Buttons -->
                    <div class="row pt-4">
                        <div class="col-md-12 d-flex justify-content-start">
                            <a href="./login" class="btn btn-link text-primary" role="button"><span><%= component_text.link_sign_in %></span></a>
                        </div>
                    </div>
                    <!-- Form End -->
                    <hr class="my-1" />
                    <p class="text-white m-0 mt-3"><%= component_text.t_pa_pr_footer %></p>
                </div>
            </div>
        </div>
    </div>
</div>