<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<style>
    .nav-link {
        color: white !important;
    }
    .viewmeasurebtn{
        position: relative;
    }
    .viewmeasure{
        position: absolute;
        top: -7px;
        border: 1px solid #FFF;
        right: -5px;
        font-size: 9px;
        background: #f44336;
        color: #FFFFFF;
        min-width: 20px;
        padding: 0px 5px;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        line-height: 19px;
        display: block;
    }
</style>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <%- include('mobile-navbar') %>
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
             <%- include('sidebar') %>
            <div class="d-flex flex-column flex-row-fluid wrapper pt-20" id="kt_wrapper">
                 <%- include('navbar') %>
                <div class="content d-flex flex-column flex-column-fluid p-10">
                    <div class="row">
                        <div class="col-md-12 bg-primary p-2 mb-2 text-white">
                            <div class="d-flex justify-content-around">
                                <div class="d-flex align-items-center" style="font-size:20px; font-weight:bold;">About Us</div>
                                <ul class="nav nav-tabs nav-pills" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link text-white active" href="#aboutclinic" data-toggle="tab">About Clinic</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#metrics" data-toggle="tab">Quality Metrics</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane active" id="aboutclinic">
                                    <div class="row my-3 p-10 bg-white border rounded">
                                        <div class="col-12 d-flex d-flex align-items-center justify-content-end">
                                            <div class = "mr-1">Show:</div>
                                            <div class = "d-flex align-items-center"><input type = "checkbox" id = "aboutclinic_toggle" style = "width:20px; height:20px;"></div>
                                        </div>
                                        <div class="row col-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h6>Short Description (EN)</h6>
                                                    <div name='en_desc' id='en_desc'></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h6>Short Description (ES)</h6>
                                                    <div name='es_desc' id='es_desc'></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h6>Full Description (EN)</h6>
                                                    <div name='en_fdesc' id='en_fdesc'></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h6>Full Description (ES)</h6>
                                                    <div name='es_fdesc' id='es_fdesc'></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-light-primary updatebtn">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="metrics">
                                    <div class="row my-3 p-10 bg-white border rounded">
                                        <div class="col-12 d-flex d-flex align-items-center justify-content-end">
                                            <div class="mr-1">Show:</div>
                                            <div class="d-flex align-items-center"><input type="checkbox" id="metrics_toggle" style="width:20px; height:20px;"></div>
                                        </div>

                                        <div class="col-12 mb-2"><h3>Metrics Title and Description</h3></div>
                                        <div class="col-6">
                                            <div class = "form-group">
                                                <h6>Title(En)</h6>
                                                <input class="form-control" id="metrics_title_en" type="text" value="<%= component.t_quality_metrics_title.en %>" />
                                            </div>
                                            <div class = "form-group">
                                                <h6>Description(En)</h6>
                                                <textarea class="form-control" id="metrics_desc_en" rows="6"><%= component.t_quality_metrics_desc.en %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class = "form-group">
                                                <h6>Title(Es)</h6>
                                                <input class="form-control" id="metrics_title_es" type="text" value="<%= component.t_quality_metrics_title.es %>" />
                                            </div>
                                            <div class = "form-group">
                                                <h6>Description(Es)</h6>
                                                <textarea class="form-control" id="metrics_desc_es" rows="6"><%= component.t_quality_metrics_desc.es %></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 text-right mb-5">
                                            <button class="btn btn-light-primary" id="metrics_desc_update">Update</button>
                                        </div>

                                        <div class="col-12 mb-4 d-flex justify-content-between align-items-center my-5">
                                            <div><h3>Quality Categories</h3></div>
                                            <div style="padding:10px 20px 10px 20px;" class='qcat_add btn btn-light-primary btn-icon' ><i class='fa fa-plus'></i></div>
                                            <input type="hidden" id="chosen_qcat_id" />
                                        </div>
                                        <div class="col-12">
                                            <table class="table" id="qcat_tb">
                                                <thead>
                                                    <th>English</th>
                                                    <th>Español</th>
                                                    <th>Display</th>
                                                    <th>Action</th>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qcat_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6>English</h6>
                                <input name='en_qcat' id='en_qcat' class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6>Español</h6>
                                <input name='es_qcat' id='es_qcat' class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary qcataddbtn" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qcat_edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">Edit Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6>English</h6>
                                <input name='een_qcat' id='een_qcat' class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6>Español</h6>
                                <input name='ees_qcat' id='ees_qcat' class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6>Status</h6>
                                <select class="form-control" name="eqcatstatus" id="eqcatstatus" style="height:36px;">
                                    <option value="1">Visible</option>
                                    <option value="0">Invisible</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary qcateditsubmitbtn" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('#en_desc').summernote({
            tabsize: 1,
            height: 150,
        })
        $('#es_desc').summernote({
            tabsize: 1,
            height: 150,
        })
        $('#en_fdesc').summernote({
            tabsize: 1,
            height: 250,
        })
        $('#es_fdesc').summernote({
            tabsize: 1,
            height: 250,
        })

        $("#en_desc").summernote("code",`<%- component.t_about_clinic_desc.en %>`)
        $("#es_desc").summernote("code",`<%- component.t_about_clinic_desc.es %>`)
        $("#en_fdesc").summernote("code",`<%- component.t_about_clinic_fdesc.en %>`)
        $("#es_fdesc").summernote("code",`<%- component.t_about_clinic_fdesc.es %>`)

        $(".updatebtn").click(function() {
            const entry = {
                en_desc: $("#en_desc").summernote("code"),
                es_desc: $("#es_desc").summernote("code"),
                en_fdesc: $("#en_fdesc").summernote("code"),
                es_fdesc: $("#es_fdesc").summernote("code")
            }
            
            $.ajax({
                url: '<%= site_url + prefix %>/about-us/updateAboutClinic',
                type: 'post',
                data: entry,
                dataType: "json",
                success: function (res) {
                    if (res.status == "success") {
                        mynotify('success', 'Update Success.')
                    }
                }
            })
        })

        $("#metrics_desc_update").click(function() {

            title_en = $("#metrics_title_en").val()
            title_es = $("#metrics_title_es").val()
            desc_en = $("#metrics_desc_en").val()
            desc_es = $("#metrics_desc_es").val()

            $.ajax({
                url: '<%= site_url + prefix %>/about-us/updateMetricsDesc',
                method: "POST",
                data: {
                    title_en: title_en,
                    title_es: title_es,
                    desc_en: desc_en,
                    desc_es: desc_es
                },
                dataType: "json",
                success: function (res) {
                    if (res.status == "success") {
                        handleResponse("ok")
                    }
                }
            });
        });
        
        const qcattable = $('#qcat_tb').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
            ],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            "ajax": {
                "url": "<%= site_url + prefix %>/about-us/readQualityCategories",
                "type": "GET"
            },
            "columns": [
                { data: 'en_name' },
                { data: 'es_name' },
                { data: 'status',
                    render: function (data, type, row) {
                        return `<span class = '${row.status == 1 ? "text-success" : "text-danger"}'>${row.status == 1 ? "Visible" : "Invisible"}</span>`
                    } 
                },
                { data: 'id',
                    render: function (data, type, row) {
                        return `
                        <div idkey="${row.id}">
                            <a href="${'<%= site_url + prefix %>/about-us/measureByCateId?id='+row.id}" target="_blank">
                                <span class="btn btn-icon btn-sm btn-light-primary viewmeasurebtn">
                                    <span class="viewmeasure">${row.cnt}</span>
                                    <i class="fa fa-list-alt"></i>
                                </span>
                            </a>
                            <span class="btn btn-icon btn-sm btn-light-warning qcateditbtn"><i class="fas fa-edit"></i></span>
                            <span class="btn btn-icon btn-sm btn-light-danger  qcatdeletebtn"><i class="fas fa-trash"></i></span>
                        </div>
                        `
                    } 
                }
            ]
        });

        $(".qcat_add").click(function() {
            $("#qcat_add_modal").modal('show')
        });

        $(".qcataddbtn").click(function() {
            $.ajax ({
                url: '<%= site_url + prefix %>/about-us/createQualityCategory',
                method: "POST",
                data: {
                    en: $("#en_qcat").val(),
                    es: $("#es_qcat").val()
                },
                dataType: "json",
                success: function (res) {
                    if(res.status == "success") {
                        mynotify('success','Saved Successfully')
                        qcattable.ajax.reload()
                    } else{
                        mynotify('danger','Add Fail')
                    }
                }
            });
        });

        $(document).on("click",".qcateditbtn",function() {
            $("#chosen_qcat_id").val($(this).parent().attr("idkey"))
            $.ajax ({
                url: '<%= site_url + prefix %>/about-us/chooseQualityCategory',
                method: "POST",
                data: { id: $("#chosen_qcat_id").val() },
                dataType: "json",
                success: function (res) {
                    const data = res.data
                    $("#een_qcat").val(data['en_name'])
                    $("#ees_qcat").val(data['es_name'])
                    $("#eqcatstatus").val(data['status'])
                    $("#qcat_edit_modal").modal('show')
                }
            });
        });

        $(".qcateditsubmitbtn").click(function() {
            $.ajax ({
                url: '<%= site_url + prefix %>/about-us/updateQualityCategory',
                method: "POST",
                data: {
                    id: $("#chosen_qcat_id").val(),
                    en: $("#een_qcat").val(),
                    es: $("#ees_qcat").val(),
                    status: $("#eqcatstatus").val()
                },
                dataType: "json",
                success: function (res) {
                    if(res.status == "success") {
                        mynotify('success','Saved Successfully')
                        qcattable.ajax.reload()
                    }
                    else{
                        mynotify('danger','Update Fail')
                    }
                }
            });
        });

        $(document).on("click",".qcatdeletebtn",function() {
            $("#chosen_qcat_id").val($(this).parent().attr("idkey"))
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: '<%= site_url + prefix %>/about-us/deleteQualityCategory',
                        method: "POST",
                        data: {id:$("#chosen_qcat_id").val()},
                        dataType: "json",
                        success: function (res) {
                            if (res.status == "success") {
                                qcattable.ajax.reload()
                                toastr.success("Deleted Successfully")
                            }
                        },
                        error: function () {
                            toastr.error("An error was occurred on the server")
                        }
                    });
                }
            });
        });

        handleAreaToggleBox('#aboutclinic_toggle', 'aboutus_aboutclinic')
        handleAreaToggleBox('#metrics_toggle', 'aboutus_metrics')
    });
</script>

</html>
