<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <%- include('mobile-navbar') %>
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            <%- include('sidebar') %>
            <div class="d-flex flex-column flex-row-fluid wrapper pt-20" id="kt_wrapper">
                <%- include('navbar') %>
                <div class="content d-flex flex-column flex-column-fluid p-10">
                    <div class = "row px-5 py-10 bg-white border rounded">
                        <div class = "col-12 my-3"><h3>Home Header Text</h3></div>
                        <div class = "col-6">
                            <div class = "form-group">
                                <h6 class="mb-3">Header Text(En)</h6>
                                <div id="text_en"></div>
                            </div>
                        </div>
                        <div class = "col-6">
                            <div class = "form-group">
                                <h6 class="mb-3">Header Text(Es)</h6>
                                <div id="text_es"></div>
                            </div>
                        </div>
                        <div class="col-12 text-right">
                            <button class="btn btn-light-primary" onclick = "updateOrientationDesc();">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(() => {
        localStorage.setItem("once_logged_in", true)
        
        $('#text_en').summernote({
            tabsize: 1,
            height: 150,
        })
        $('#text_es').summernote({
            tabsize: 1,
            height: 150,
        })
        $("#text_en").summernote("code",'<%= component.t_home_header.en %>')
        $("#text_es").summernote("code",'<%= component.t_home_header.es %>')
    })

    function updateOrientationDesc(){
        text_en = $("#text_en").summernote("code")
        text_es = $("#text_es").summernote("code")
        $.ajax({
            url: '<%= site_url + prefix %>/home/updateHomeHeaderText',
            method: "POST",
            data: {text_en: text_en, text_es: text_es},
            dataType: "json",
            success: function (data) {
                mynotify('success', 'Update Success')
            }
        })
    }

</script>

</html>
