<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<style>
    .btn-group, .btn-group-vertical {
        margin: 0!important;
    }
    .btn-group-newsletter{
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .btn-group-newsletter i{
        cursor: pointer;
    }
    .bootstrap-tagsinput{
        width:100%!important;
    }
    .label-info {
        background: #0774f8;
        color: #fff;
    }
    .tag {
        font-size: 0.75rem;
        color: #25252a;
        border-radius: 3px;
        padding: 0 .5rem;
        line-height: 2em;
        display: -ms-inline-flexbox;
        display: inline-flex;
        cursor: default;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 2px;
    }
    .image-item {
        padding: 10px;
        display: inline-block;
        margin-bottom: 10px;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
    }
    .image-item img {
        max-width: 180px;
    }
    .image-item p {
        font-weight: 700;
        font-size: 14px;
        margin-top: 8px;
    }
    .image-item:hover {
        border-color: #999;
    }
    .active-item {
        border-color: #999;
    }
    .set-item {
        border-color: #4169e1;
    }
    .set-item p {
        color: #4169e1;
    }
</style>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <%- include('mobile-navbar') %>
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
             <%- include('sidebar') %>
            <div class="d-flex flex-column flex-row-fluid wrapper pt-20" id="kt_wrapper">
                 <%- include('navbar') %>
                <div class="content d-flex flex-column flex-column-fluid p-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon card-header-primary no-print">
                                    <div class = 'row'>
                                        <input type="hidden" id="chosen_newsletter_id" />
                                        <div class="col-md-12 text-right"><span class="newsletter_add btn btn-light-primary btn-icon"><i class="fa fa-plus"></i></span></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table" id="newsletter_tb">
                                            <thead>
                                                <th>Subject</th>
                                                <th>Detail URL</th>
                                                <th>External Link</th>
                                                <th>Author</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th class="actionth">Action</th>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- The Modal -->
<div class="modal fade" id="newsletter_add_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">Add Newsletter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Subject (En)</h6>
                            <input type="text" name = 'newsletter_sub_en' id = 'newsletter_sub_en' class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Subject (Es)</h6>
                            <input type="text" name = 'newsletter_sub_es' id = 'newsletter_sub_es' class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h6>Author</h6>
                            <input type="text" name='newsletter_author' id='newsletter_author' class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <h6>Date</h6>
                        <input type="date" name='newsletter_date' id='newsletter_date' class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>Detail URL</h6>
                            <input type="text" name='newsletter_view_url' id='newsletter_view_url' class="form-control" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h6>External Link</h6>
                            <input type="text" name='newsletter_link' id='newsletter_link' class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary newsletteraddbtn" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- The Modal -->
<div class="modal fade" id="newsletter_email_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ">Send Newsletter Email</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="form-check form-check-radio form-check-inline">
                            <input class="form-check-input" checked name="emaillangnewsletter" type="radio" value="1" id="newsletter-email-lang-en" style="width: 20px; height: 20px;" />
                            <label for="newsletter-email-lang-en" class="form-check-label" style="font-size: 16px;">English</label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <input class="form-check-input" name="emaillangnewsletter" type="radio" value="2" id="newsletter-email-lang-es" style="width: 20px; height: 20px;" />
                            <label for="newsletter-email-lang-es" class="form-check-label" style="font-size: 16px;">Spanish</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input newsletter_allpts" type="checkbox" id="newsletter-all-patient" style="width: 20px; height: 20px;" />
                            <label for="newsletter-all-patient" class="form-check-label" style="font-size: 16px;">All Patients</label>
                        </div>
                        <div class="form-group" style="display:inline-block!important">
                            <label>Appointment Months</label>
                            <input name = 'newsletter_apt_month' id = 'newsletter_apt_month' class="form-control" type="number" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary submitemailbtn" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- The Modal -->
<div class="modal fade" id="newsletter_phone_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ">Send Newsletter SMS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="form-check form-check-radio form-check-inline">
                            <input class="form-check-input" checked name="phonelangnewsletter" type="radio" value="1" id="newsletter-sms-lang-en" style="width: 20px; height: 20px;" />
                            <label for="newsletter-sms-lang-en" class="form-check-label" style="font-size: 16px;">English</label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <input class="form-check-input" name="phonelangnewsletter" type="radio" value="2" id="newsletter-sms-lang-es" style="width: 20px; height: 20px;" />
                            <label for="newsletter-sms-lang-es" class="form-check-label" style="font-size: 16px;">Spanish</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input allsmspts" type="checkbox" id="newsletter-all-patient-sms" style="width: 20px; height: 20px;" />
                            <label for="newsletter-all-patient-sms" class="form-check-label" style="font-size: 16px;">All Patients</label>
                        </div>
                        <div class="form-group" style="display:inline-block!important">
                            <label>Appointment Months</label>
                            <input name="newsletter_sms_apt_month" id="newsletter_sms_apt_month" class="form-control" type="number" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary submitphonebtn" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--- end modal -->
<!-- The Modal -->
<div class="modal fade" id="avatar_edit_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ">Update Header Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body text-center" id="image-item-container">
                <% for (let i = 0; i < images.length; i ++) { %>
                    <div class="image-item" id="<%= images[i].id %>">
                        <img src="<%= site_url + "/assets/images/newsimg/" + images[i].image %>" />
                        <p><%= images[i].name %></p>
                    </div>
                <% } %>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="button" class="btn btn-light-success" id="addimgbtn">Add New</button>
                        <div class="d-flex justify-content-start gap-2">
                            <button type="button" class="btn btn-light-primary mx-1 imgsubmitbtn" data-dismiss="modal">Done</button>
                            <button type="button" class="btn btn-light-danger mx-1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newsimg_edit_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title " style="font-weight:500;">Upload Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
               <div class = "row">
                    <div class = 'col-md-12'>
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">Newsletter Image Name</label>
                            <input name="newsimg" id="newsimg" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class = 'col-md-12'>
                        <h6>newsimg Image ( 1600*434 )</h6>
                        <div class="custom-file form-group bmd-form-group">
                            <input type="file" class="custom-file-input" id="image" name="file" />
                            <label class="custom-file-label" for="image">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="newsimgeditsubmitbtn" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.allsmspts').prop('checked', true)
        $('.newsletter_allpts').prop('checked', true)
        $("#newsletter_apt_month").prop('disabled', true)
        $("#newsletter_sms_apt_month").prop('disabled', true)
        
        //$('#phone_list').tagsinput();
        const newslettertable = $('#newsletter_tb').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search newsletter",
            },
            "ajax": {
                "url": "<%= site_url + prefix %>/newsletter/getd",
                "type": "POST"
            },
            "columns": [
                { data: 'en_sub'},
                { data: 'view_url'},
                { data: 'link'},
                { data: 'author'},
                {
                    data: 'published',
                    render: function (data, type, row) {
                        return new Date(data).toLocaleDateString()
                    }
                },
                { data: 'status',
                    render: function (data, type, row) {
                        return `<div idkey="`+row.id+`">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input newsletterstatus" type="checkbox" ${row.status==1?"checked":""}>
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>`
                    } 
                },
                { data: 'id',
                    render: function (data, type, row) {
                        return `<div idkey="${row.id}">
                                    <span class="btn btn-icon btn-sm btn-light-primary newsimgbtn" imgid="${row.image}"><i class="fas fa-image"></i></span>
                                    <span class="btn btn-icon btn-sm btn-light-primary sendsmsbtn"><i class="fa fa-mobile"></i></span>
                                    <span class="btn btn-icon btn-sm btn-light-primary sendemailbtn"><i class="fa fa-envelope"></i></span>
                                    <a href="<%= site_url + prefix %>/newsletter/view?id=${row.id}" target="_blank"><span class="btn btn-icon btn-sm btn-light-warning newslettereditbtn"><i class="fa fa-eye"></i></span></a>
                                    <span class="btn btn-icon btn-sm btn-light-danger  newsletterdeletebtn"><i class="fas fa-trash"></i></span>
                                </div>`
                    } 
                }
            ]
        })

        $(".newsletter_add").click(function(){
            $("#newsletter_add_modal").modal('show');
        })

        $(".newsletteraddbtn").click(function() {
            const params = {
                en_sub: $("#newsletter_sub_en").val(),
                es_sub: $("#newsletter_sub_es").val(),
                author: $("#newsletter_author").val(),
                link: $("#newsletter_link").val(),
                view_url: $("#newsletter_view_url").val(),
                date: $("#newsletter_date").val()
            }
            $.ajax({
                url: '<%= site_url + prefix %>/newsletter/addd',
                type: 'post',
                data: params,
                dataType: "json",
                success: function (res) {
                    if(res.status == "success") {
                        toastr.success("Created Successfully!")
                        newslettertable.ajax.reload()
                    } else if (res.status == "existed") {
                        toastr.info("The External Link is already existed!")
                    } else {
                        toastr.error("Action Failed!")
                    }
                },
                error: function () {
                    toastr.error("An error was occurred on the server!")
                }
            });
        })

        $(document).on("click",".newsletterstatus",function(){
            var tmpcheck = 0;
            if($(this).prop("checked")) {
                tmpcheck = 1;
            } else{
                tmpcheck = 0;
            }
            $.ajax ({
                url: '<?php echo base_url() ?>local/newsletter/editnewsletterstatus',
                method: "POST",
                data: { id: $(this).parent().parent().parent().attr("idkey"), value: tmpcheck },
                dataType: "text",
                success: function (data) {
                    if(data == "ok"){
                        toastr.success("Updated Successfully!")
                    } else{
                        toastr.error("Action Failed!")
                    }
                }
            });
        })

        $(document).on("click",".newsletterdeletebtn",function(){
            $("#chosen_newsletter_id").val($(this).parent().attr("idkey"));
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: "<%= site_url + prefix %>/newsletter/deleted",
                        method: "POST",
                        data: {
                            id: $("#chosen_newsletter_id").val()
                        },
                        dataType: "json",
                        success: function (res) {
                            if(res.status == "success") {
                                toastr.success("Deleted Successfully!")
                                newslettertable.ajax.reload()
                            }
                        },
                        error: function () {
                            toastr.error("An error was occurred on the server!")
                        }
                    });
                }
            });
        })

        $(document).on("click",".sendemailbtn",function(){
            $("#chosen_newsletter_id").val($(this).parent().attr("idkey"));
            $("#newsletter_email_modal").modal("show");
        })

        $(".submitemailbtn").click(function() {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, send it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: "<%= site_url + prefix %>/newsletter/sendem",
                        method: "POST",
                        data: {
                            id: $("#chosen_newsletter_id").val(),
                            lang: $('input[name="emaillangnewsletter"]:checked').val(),
                            all: $("#newsletter-all-patient").prop("checked") == true ? 1 : 0,
                            apt_months: $("#newsletter_apt_month").val()
                        },
                        dataType: "json",
                        success: function (res) {
                            if (res.status == "success") {
                                toastr.success("Sent Successfully!")
                            } else {
                                toastr.error("Action Failed!")
                            }
                        },
                        error: function () {
                            toastr.error("An error was occurred on the server!")
                        }
                    });
                }
            });
        })

        $(document).on("click",".newsimgbtn",function(){
            $("#chosen_newsletter_id").val($(this).parent().attr("idkey"));
            $(".image-item").removeClass("set-item");
            $(".image-item").removeClass("active-item");
            $(".image-item[id="+$(this).attr("imgid")+"]").addClass("set-item");
            $("#avatar_edit_modal").modal('show');
        })

        $(".image-item").click(function(){
            $(".image-item").removeClass('active-item');
            $(this).addClass('active-item');
        })

        $(".imgsubmitbtn").click(function(){
            $.ajax ({
                url: '<%= site_url + prefix %>/newsletter/setdi',
                method: "POST",
                data: {
                    id: $("#chosen_newsletter_id").val(),
                    image: $(".active-item").attr("id")
                },
                dataType: "json",
                success: function (res) {
                    if (res.status == "success") {
                        toastr.success("Sent Successfully!")
                        newslettertable.ajax.reload()
                    } else {
                        toastr.error("Action Failed!")
                    }
                },
                error: function () {
                    toastr.error("An errror was occurred on the server!")
                }
            });
        })

        $(document).on("click",".sendsmsbtn",function(){
            $("#chosen_newsletter_id").val($(this).parent().attr("idkey"));
            $("#newsletter_phone_modal").modal("show");
        })

        $(".newsletter_allpts").change(function(){
            if($(".newsletter_allpts").is(':checked'))
                $("#newsletter_apt_month").prop('disabled', true);
            else
                $("#newsletter_apt_month").prop('disabled', false);
        })

        $(".allsmspts").change(function(){
            if($(".allsmspts").is(':checked'))
                $("#newsletter_sms_apt_month").prop('disabled', true);
            else
                $("#newsletter_sms_apt_month").prop('disabled', false);
        })

        $(".submitphonebtn").click(function(){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, send it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: "<%= site_url + prefix %>/newsletter/sendsm",
                        method: "POST",
                        data: {
                            id: $("#chosen_newsletter_id").val(),
                            lang: $('input[type="phonelangnewsletter"]').val(),
                            all: $("#newsletter-all-patient-sms").prop("checked") == true ? 1 : 0,
                            apt_months: $("#newsletter_sms_apt_month").val()
                        },
                        dataType: "json",
                        success: function (res) {
                            if (res.status == "success") {
                                toastr.success("Sent Successfully!")
                            } else {
                                toastr.error("Action Failed!")
                            }
                        },
                        error: function () {
                            toastr.error("An error was occurred on the server!")
                        }
                    });
                }
            });
        })

        $("#addimgbtn").click(function () {
            $("#newsimg_edit_modal").modal("show")
        })

        $("#newsimgeditsubmitbtn").click(function () {
            var fd = new FormData()
            var img = $('#image')[0].files
            if(img.length > 0 ) {
                const imgObj = new Image()
                const objectURL = URL.createObjectURL(img[0])

                imgObj.onload = function () {
                    if (imgObj.width <= 1600 && imgObj.height <= 434) {
                        fd.append('name', $("#newsimg").val())
                        fd.append('image', img[0])
            
                        $.ajax({
                            url: '<%= site_url + prefix %>/newsletter/addi',
                            type: 'post',
                            data: fd,
                            contentType: false,
                            processData: false,
                            dataType: "json",
                            success: function (res) {
                                if(res.status == "success") {
                                    newsimgtable.ajax.reload()
                                    mynotify('success','Uploaded Successfully')
                                } else {
                                    mynotify('danger','Failed in Upload')
                                }
                            },
                            error: function () {
                                toastr.error("An error was occurred on the server!")
                            }
                        })

                        // Free memory
                        URL.revokeObjectURL(objectURL)
                    } else {
                        mynotify("warning", "The image is too large. please select 1600 x 434 size image!")
                    }
                }

                imgObj.src = objectURL
            }
        })

    })
</script>

</html>
