<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<style>
    .dropdown-toggle.btn.btn-link.bs-placeholder {
        border: 1px solid #E4E6EF;
    }
</style>

<body>
    <div class="wrapper ">
        <div class="main-panel" style="width:100%">
            <div class="content mt-0">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-sm btn-light-warning" id="submitnewsletterbtn">Update</button>
                                    <input type = 'hidden' class = 'base_url' value = "<%= site_url %>" />
                                    <input type="hidden" id="chosen_id" value="<%= newsletter_data.id %>" />
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6>Author</h6>
                                        <input name = 'newsletter_author' id = 'newsletter_author' class="form-control" type="text" required />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <h6>Date</h6>
                                        <input type="date" name = 'newsletter_date' id = 'newsletter_date' class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <h6>Detail URL</h6>
                                        <input name = 'newsletter_view_url' id = 'newsletter_view_url' class="form-control" type="text" required />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <h6>External Link</h6>
                                        <input name = 'newsletter_link' id = 'newsletter_link' class="form-control" type="text" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group  bmd-form-group">
                                        <label for="exampleFormControlSelect2">MEDICAL CONDITION</label>
                                        <select multiple class="form-control selectpicker" data-style="btn btn-link" id="newsletter_med_cond">
                                            <% for (let i = 0; i < med_conditions.length; i ++) { %>
                                                <option value="<%= med_conditions[i].id %>"><%= med_conditions[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>  
                                <div class="col-md-2">
                                    <h6>GENDER</h6>
                                    <div class="form-check form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gender_radio" id="inlineRadio1" value="0"> All
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gender_radio" id="inlineRadio2" value="1"> Male
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="gender_radio" id="inlineRadio2" value="2"> Female
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6>AGE</h6>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input newsletter_age_all_checkbox" type="checkbox" id="newsletter_age_all_checkbox" value="1"> All
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-group" style="display:inline-block!important">
                                        <label>From</label>
                                        <input style="width:80px" name = 'newsletter_age_from' id = 'newsletter_age_from' class="form-control" type="number" />
                                    </div>
                                    <span>~</span>
                                    <div class="form-group" style="display:inline-block!important">
                                        <label>To</label>
                                        <input style="width:80px" name = 'newsletter_age_to' id = 'newsletter_age_to' class="form-control" type="number" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6>Contact Form</h6>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input newsletter_show_contact" type="checkbox" id="newsletter_show_contact" value="1"> Show
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group bmd-form-group">
                                        <label for="newsletter_education_material">Education Material</label>
                                        <select multiple class="form-control selectpicker border-1" data-style="btn btn-link" id="newsletter_education_material">
                                        </select>
                                    </div>
                                </div>   
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6>Subject (En)</h6>
                                        <input name = 'newsletter_sub_en' id = 'newsletter_sub_en' class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6>Subject (Es)</h6>
                                        <input name = 'newsletter_sub_es' id = 'newsletter_sub_es' class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6>Description (En)</h6>
                                        <div name = 'newsletter_desc_en' id = 'newsletter_desc_en'></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h6>Description (Es)</h6>
                                        <div name = 'newsletter_desc_es' id = 'newsletter_desc_es'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</body>

<script>
    $('#newsletter_desc_en').summernote({
        tabsize: 2,
        height: 700,
    })
    $('#newsletter_desc_es').summernote({
        tabsize: 2,
        height: 700,
    })
    $("#newsletter_sub_en").val("<%= newsletter_data.en_sub %>")
    $("#newsletter_sub_es").val("<%= newsletter_data.es_sub %>")
    $("#newsletter_author").val("<%= newsletter_data.author %>")
    $("#newsletter_view_url").val("<%= newsletter_data.view_url %>")
    $("#newsletter_link").val("<%= newsletter_data.link %>")
    $("#newsletter_date").val(new Date("<%= newsletter_data.published %>").toISOString().substr(0, 10))
    $("#newsletter_desc_en").summernote("code",`<%= newsletter_data.en_desc %>`)
    $("#newsletter_desc_es").summernote("code",`<%= newsletter_data.es_desc %>`)
    const medCond = <%- JSON.stringify(newsletter_data.med_cond) %>
    $('#newsletter_med_cond').val(medCond ? JSON.parse(medCond) : "")
    $('#newsletter_age_all_checkbox').prop('checked', "<%= newsletter_data.age_all ? true : false %>")
    $('#newsletter_show_contact').prop('checked', "<%= newsletter_data.show_contact == 1 ? true : false %>")
    $("#newsletter_age_from").val("<%= newsletter_data.age_from %>")
    $("#newsletter_age_to").val("<%= newsletter_data.age_to %>")

    $('input:radio[name="gender_radio"][value="<%= newsletter_data.gender ? newsletter_data.gender : "0" %>"]').click()

    $(document).ready(function() {
        $("#submitnewsletterbtn").click(function() {
            const params = {
                id: $("#chosen_id").val(),
                en_sub: $("#newsletter_sub_en").val(),
                es_sub: $("#newsletter_sub_es").val(),
                author: $("#newsletter_author").val(),
                view_url: $("#newsletter_view_url").val(),
                link: $("#newsletter_link").val(),
                date: $("#newsletter_date").val(),
                med_cond: JSON.stringify($("#newsletter_med_cond").val()),
                education_material: JSON.stringify($("#newsletter_education_material").val()),
                gender: $('input[name=gender_radio]:checked').val(),
                age_all: $("#newsletter_age_all_checkbox").prop("checked") == true ? 1 : 0,
                show_contact: $("#newsletter_show_contact").prop('checked') == true ? 1 : 0,
                age_from: $("#newsletter_age_from").val(),
                age_to: $("#newsletter_age_to").val(),
                en_desc: $("#newsletter_desc_en").summernote("code"),
                es_desc: $("#newsletter_desc_es").summernote("code"),
            }

            $.ajax({
                url: "<%= site_url + prefix %>/newsletter/updated",
                type: 'POST',
                data: params,
                dataType: "json",
                success: function (res) {
                    if (res.status == "success") {
                        toastr.success("Saved Successfully!")
                    } else if (res.status == "existed") {
                        toastr.info("The External Link or View Url is already existed!")
                    } else if (res.status == "age") {
                        toastr.error("Age is incorrect!")
                    }
                },
                error: function () {
                    toastr.error("An error was occurred on the servier!")
                }
            })
        })

        $("#newsletter_age_all_checkbox").change(function() {
            if ($("#newsletter_age_all_checkbox").is(':checked')) {
                $("#newsletter_age_from").prop('disabled', true)
                $("#newsletter_age_to").prop('disabled', true)
            } else {
                $("#newsletter_age_from").prop('disabled', false)
                $("#newsletter_age_to").prop('disabled', false)
            }

        });
        
        $("#newsletter_med_cond").change(() => { loadEducationMateiral() })
    })

    loadEducationMateiral()

    function loadEducationMateiral() {
        $.ajax({
            url: '<%= site_url + prefix %>/newsletter/getem',
            type: 'POST',
            data: {
                med_cond: JSON.stringify($("#newsletter_med_cond").val())
            },
            dataType: "json",
            success: function (res) {
                const items = res.data
                $('#newsletter_education_material').empty()
                if (Array.isArray(items)) {
                    items.forEach(item => {
                        $('#newsletter_education_material').append(
                            $('<option>', { value: item.value, text: item.text })
                        )
                    })
                }

                const eduMat = <%- JSON.stringify(newsletter_data.edu_material) %>
                $('#newsletter_education_material').val(eduMat ? JSON.parse(eduMat) : "")
            }
        })
    }

</script>

</html>
