<!DOCTYPE html>
<html lang="en">

<%- include('../header') %>
<style>
    .h-2 {
        height: 0.5rem !important;
    }
    .label-info {
        background: #0774f8;
        color: #fff;
    }
    .tag {
        font-size: 0.75rem;
        color: #25252a;
        border-radius: 3px;
        padding: 0 .5rem;
        line-height: 2em;
        display: -ms-inline-flexbox;
        display: inline-flex;
        cursor: default;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 2px;
    }
    
</style>

<body>
    <div class="wrapper ">
        <div class="main-panel" style="width: 100%;">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="font-weight:600;"><%= result[0] %></h3>
                            <h3>
                                <span class="text-primary font-weight-bold" style="font-size: 1.6rem;"><%= result[1] %></span> responses (<%= result[3].minDate %> ~ <%= result[3].maxDate %>)
                                <% if (result[2] && result[2].length) { %>
                                    <div style="right: 10px;position: absolute;display: inline;font-size: 1rem;">
                                        <span class="btn btn-sm btn-success togglesurveybtn">ToggleView</span>
                                        <span class="btn btn-sm btn-info emailsurveybtn">Email</span>
                                        <span class="btn btn-sm btn-warning printsurveybtn">Print</span>
                                        <span class="btn btn-sm btn-danger clearsurveybtn">Reset</span>
                                    </div>
                                <% } %>
                            </h3>
                        </div>
                    </div>
                    <% if (view === "table") { %>
                        <% for (let i = 0; i < result[2].length; i ++) { %>
                            <div class="row" style="justify-content: center">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                    <table class="table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Statistic</th>
                                                <% for (let j = 0; j < result[2][i].result.length; j ++) { %>
                                                    <th scope="col" style="font-weight:500"><%= result[2][i].result[j].name %></th>
                                                <% } %>
                                                <th scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" rowspan="2" style="width:300px"><%= result[2][i].quiz %></th>
                                                <td style="width:70px">N</td>
                                                <% for (let j = 0; j < result[2][i].result.length; j ++) { %>
                                                    <td class="text-success" style="font-size:1.2rem; font-weight:500;"><%= result[2][i].result[j].counts %></td>
                                                <% } %>
                                                <td class="text-success" style="width:50px;font-size:1.2rem; font-weight:500"><%= result[1] %></td>
                                            </tr>
                                            <tr>
                                                <td>Percent</td>
                                                <% for (let j = 0; j < result[2][i].result.length; j ++) { %>
                                                    <td class="text-info" style="font-weight:500;font-size: 1.1rem;"><%= Math.round(result[2][i].result[j].counts) / result[1] * 100 %>%</td>
                                                <% } %>
                                                <td class="text-info" style="font-weight:500;font-size: 1.1rem;">100%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <% for (let i = 0; i < result[2].length; i ++) { %>
                            <div class="row" style="justify-content:center">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title"><%= result[2][i].quiz %></h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <% for (let j = 0; j < result[2][i].result.length; j ++) { %>
                                                <p class="mt-2 mb-1"><%= result[2][i].result[j].name %>
                                                    <span class="text-success" style="font-size:1.2rem; font-weight:500; margin-left:20px">
                                                        <%= result[2][i].result[j].counts %>
                                                    </span>
                                                    <span class="text-info" style="margin-left:20px;font-weight:500;font-size: 1.1rem;">
                                                        <%= Math.round(result[2][i].result[j].counts) / result[1] * 100 %>%
                                                    </span>
                                                </p>
                                                <div class="progress h-2">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= Math.round(result[2][i].result[j].counts) / result[1] * 100 %>%; background: #0774f8!important;"></div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="chosen_id" value="<%= id %>" />
    <!-- The Modal -->
    <div class="modal fade" id="survey_result_email_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title " style="font-weight:500;">Send Survey Result Email</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Please select Users</label>
                                <select name="survey_email" id = "survey_email" class="form-control">
                                    <% for (let i = 0; i < emails.length; i ++) { %>
                                        <option value = "<%= emails[i].email %>"><%= emails[i].name %> - <%= emails[i].email %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-group bmd-form-group">
                                <input name = 'email_list' id = 'email_list' class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary submitemailbtn" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-light-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--- end modal -->
</body>

<script>
    $(document).ready(function() {
        var survey_id = "<%= id %>"
        const view = "<%= view %>"
        // $('#email_list').tagsinput()
        $(".clearsurveybtn").click(function() {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: '<%= site_url + prefix %>/surveys/deleteData',
                        method: "POST",
                        data: {id:$("#chosen_id").val()},
                        dataType: "json",
                        success: function (res) {
                            if(res.status = "success")
                                location.reload()
                        }
                    })
                }
            })
        })
        
        $(".printsurveybtn").click(function() {
            window.print()
        })
        
        $(".togglesurveybtn").click(function() {
            if (view === "table") {
                window.location.href="<%= site_url + prefix %>/surveys/view-result?view=card&id=<%= id %>"
            } else {
                window.location.href="<%= site_url + prefix %>/surveys/viewresult?view=table&id=<%= id %>"
            }
        })

        $(document).on("click", ".emailsurveybtn", function() {
            $("#survey_result_email_modal").modal("show")
        })
        
        $("#survey_email").change(function() {
            $("#email_list").tagsinput('add', $("#survey_email").val())
        })
        
        $(".submitemailbtn").click(function() {
            Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, send it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax ({
                        url: '<%= site_url + prefix %>/surveys/sendResultEmail',
                        method: "POST",
                        data: {
                            id: survey_id,
                            emails: $("#email_list").val()},
                        dataType: "json",
                        success: function (res) {
                            if(res.status == "success") {
                                toastr.success("Action Successfully")
                            }
                            else{
                                toastr.info("Action failed")
                            }
                        }
                    })
                }
            })
        })
        
    })
</script>

</html>
